@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito Sans");
$mainBtn: #d36959; //main button color
$btnWidth: 180px; //button width
$btnHeight: 40px; //button height
$btnBorderRadius: 16px; //main button radius
$bodyLarge: 16px; //font size for body
$bodySmall: 13px; //font-size for body
$headingFontFamily: "Merriweather Sans"; //heading font
$bodyFontFamily: "Nunito Sans"; //body font
$boxRadius: 8px; //box/container and some button border radius
