@import "./variable";
@import "./functions";
@import "../../../node_modules/rfs/scss.scss";

/*
GLOBAL (BOTH DARK & LIGHT)
*/
html,
body {
  contain: content;
}

.minHeight {
  min-height: 60vh;
}
.modal-backdrop {
  display: none;
}

.shadowbox {
  background: rgb(46, 45, 45);
  opacity: 98%;
}
.modal {
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

//Drop Shadows
.drop-sd-card {
  filter: drop-shadow(2px 10px 10px rgba(0, 0, 0, 0.1));
}

.drop-sd-btn {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.card-grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

// END OF GLOBAL

/*
LIGHT MODE STYLES
*/
#light {
  //general
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headingFontFamily;
  }

  p,
  li,
  div,
  button {
    font-family: $bodyFontFamily;
  }

  .blur {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  //LightToggleMode
  .toggle {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin: 0px;
    background: none;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d36959;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggler {
    background: #6ae092;
  }

  input:focus + toggler {
    box-shadow: 0 0 2px #2196f3;
  }

  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggler.round {
    border-radius: 34px;
  }

  .toggler.round:before {
    border-radius: 50%;
  }

  //LightNavBar CSS
  .brand-logo {
    max-width: 160px;
    height: auto;
    float: left;
  }
  .searchBox {
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      z-index: 9999;
    }
  }
  .burger {
    background: $mainBtn;
  }

  //LightFooter CSS
  .footer {
    background: $brandMain;
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      margin-right: 10px;
    }
    img {
      width: 15%;
      height: 15%;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    span {
      color: black;
    }
    i {
      color: black;
    }
  }

  .email {
    color: white;
    font-size: 16px;
  }

  .footerWrapper .footerButton {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .footerWrapper .footerButton .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:nth-child(1):hover .icon {
    background: #4267b2;
  }
  .footerWrapper .footerButton:nth-child(2):hover .icon {
    background: #1da1f2;
  }
  .footerWrapper .footerButton:nth-child(3):hover .icon {
    background: #e1306c;
  }
  .footerWrapper .footerButton:nth-child(4):hover .icon {
    background: #ff0000;
  }
  .footerWrapper .footerButton .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:hover .icon i {
    color: #fff;
  }
  .footerWrapper .footerButton:hover {
    width: 200px;
  }
  .footerWrapper .footerButton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }
  //sideNavPill CSS
  .sideBar {
    border-radius: $secondaryBorderRadius;
    .box {
      height: 48px;
      background: $secondaryBtn;
      @include center;
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
      transition: 0.5s;
      position: relative;
      cursor: pointer;
      box-shadow: inset 0000 $mainBtn;
      &:hover {
        box-shadow: inset 400px 0 0 0 $mainBtn;
        cursor: pointer;
      }
    }
    img {
      width: 40px;
      height: auto;
      margin: 0px 5px;
      border-radius: $boxRadius;
    }
    span {
      color: $secondaryBtnFontColor;
      margin: 0px 5px;
    }
    a {
      text-decoration: none;
    }
  }

  //LightProductCard CSS
  .productCard {
    button {
      @include button;
      background: $mainBtn;
      color: white;
    }
    img {
      height: auto;
      width: 100%;
    }
  }

  //LightLandingView CSS
  .brand-logo {
    width: 160px;
    height: auto;
    float: left;
  }

  .centerbox {
    border-radius: $btnBorderRadius;
  }
  .rightbar {
    img {
      border-radius: $btnBorderRadius;
    }
  }

  //LightIndividualView CSS
  .mainBtnDesign {
    //btn
    background: $brandMain;
    font-family: $bodyFontFamily;
    color: white;
    border-radius: $boxRadius;
    border: none;
    @include button;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 #c53b29;
      cursor: pointer;
      color: white;
    }
  }
  .addBtnDesign {
    background: $brandMain;
    font-family: $bodyFontFamily;
    color: white;
    border: 0px;
    @include button;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 #5dca82;
    &:hover {
      box-shadow: inset 500px 0 0 0 #5dca82;
      cursor: pointer;
      color: white;
    }
  }

  .cancelBtnDesign {
    background: white;
    font-family: $headingFontFamily;
    border: 0.3px solid lightgray;
    color: black;
    @include button;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .anyQuestionBtnDesign {
    border: none;
    font-family: $headingFontFamily;
    background: white;
    color: $mainBtn;
    width: $btnWidth;
    height: $btnHeight;
    font-size: 16px;
    border-radius: $boxRadius;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .individualViewImg {
    height: 486px;
  }

  .spinner {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
    animation: text-color 1.5s ease-in-out infinite alternate;
  }

  .spinner-sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;
  }

  .spinner-sector-one {
    border-top-color: #942c1f;
    --duration: 1.5s;
    --timing: ease-in-out;
  }

  .spinner-sector-two {
    border-left-color: #d36959;
    --duration: 1.5s;
    --timing: ease-in;
  }

  .spinner-sector-three {
    border-right-color: #942c1f;
    --duration: 1.5s;
    --timing: ease-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes text-color {
    0% {
      color: rgba(0, 0, 0, 1);
    }

    50% {
      color: rgba(0, 0, 0, 0.5);
    }

    100% {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  .individualViewProductCard {
    height: 486px;
    border: 1px solid #c8c8c8;
    background: white;
    border-radius: $boxRadius;
    input {
      background: $inputShade;
      border: none;
    }
    #qty {
      border-radius: $boxRadius;
    }
    #size {
      border-radius: $boxRadius;
    }
  }

  .individualViewProdDesc {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    text-align: left;
  }

  .individualViewQuesion {
    background: $mainBtn;
    border-radius: $boxRadius;
    font-size: $bodyLarge;
    color: black;
  }

  .individualViewProductRating {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    button {
      @include button;
      background: $brandMain;
      border: none;
      color: white;
    }

    .scrollBox {
      position: relative;
      height: 10em;
    }
  }

  .vertical-scrollable {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    contain: content;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c8c8c8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainBtn;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $brandMain;
  }

  .reviewsRating {
    border-bottom: 3px solid grey;
    .userPhoto {
      height: 100px;
      width: auto;
    }
    h5 {
      font-size: calc(0.71em + 0.5vw);
    }
    @media (min-width: 400px) {
      h5 {
        font-size: calc(0.9em + 0.5vw);
      }
    }
  }

  //LightLogin
  .login {
    .back {
      border-radius: $boxRadius;
      height: 600px;
      background: white;
    }
    img {
      border-radius: $boxRadius;
      height: 600px;
    }
  }

  //LightIndividualBrand
  .individualBrand {
    .map {
      height: 444px;
    }
  }

  //MerchantRating
  .merchantRating {
    height: 267px;
  }

  //LightBrandProfile
  .brandProfile {
    height: 444px;

    img {
      width: 30%;
      height: auto;
    }
  }

  //LightSignUP
  .signUp {
    .back {
      border-radius: $boxRadius;
      height: 456px;
      background: white;
    }
    img {
      border-radius: $boxRadius;
      height: 456px;
    }
  }

  //LightOrderRow
  .orderRow {
    background: white;
  }
  .orderRowIndItem {
    background: rgb(187, 180, 180);
  }

  //LightOrderLogs & LightViewOrder
  .orderLog {
    background: white;
    border-radius: $boxRadius;
  }
  .orderBar {
    background: $brandMain;
    color: white;
  }

  //LightShoppingCarts
  .shoppingBar {
    background: $brandMain;
    color: white;
    button {
      @include center;
    }
  }
  .shoppingBack {
    background: white;
  }
  .pageBack {
    h4,
    h5 {
      color: $mainBtn;
    }
  }
  .cartEmpty {
    background: white;
    border-radius: $boxRadius;
    h3 {
      color: $mainBtn;
    }
  }

  //LightCartComponent
  .cartBack {
    .productBack {
      background: #c8c8c8;
    }
    input {
      width: 50px;
    }
  }

  //LightCheckOut
  .checkOut {
    .checkOutBack {
      background: white;
      border: 0.3px solid lightgray;
      border-radius: $boxRadius;
      color: black;
    }
    input {
      background: $inputShade;
    }
    select {
      background: $inputShade;
    }
  }
  //LightViewOrder
  .viewOrder {
    background: white;
    .viewOrderBar {
      background: $brandMain;
      color: white;
    }
  }

  //LightDashboard
  .dashAll {
    background: white;
    padding: 0px 12px;
    border-radius: $boxRadius;
    .dashName {
      color: $brandMain;
    }
    .pAndL {
      color: rgb(8, 219, 8);
    }
    .addProductBtnDesign {
      //btn
      background: $mainBtn;
      font-family: $headingFontFamily;
      color: white;
      border: $borderLight;
      border-radius: $btnBorderRadius;
      font-size: 16px;
      overflow: hidden;
      transition: 1.8s;
      position: relative;
      cursor: pointer;
      box-shadow: inset 0000 black;
      &:hover {
        box-shadow: inset 400px 0 0 0 black;
        cursor: pointer;
        color: $mainBtn;
      }
    }
  }
  //LightReview
  .review {
    background: $mainBtn;
    .prompt {
      color: white;
    }
  }

  //LightViewPayment
  .paymentForm {
    border: $borderLight;
    border-radius: $boxRadius;
    background: white;
  }
  .mthDrop,
  .yearDrop,
  .cvvInput {
    display: inline;
    width: 45%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  //LightOrderDetails
  .orderDetails {
    border: $borderLight;
    border-radius: $boxRadius;
  }
}

/*
DARK MODE STYLES
*/
#dark {
  //general
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headingFontFamily;
    color: white;
  }
  p,
  li,
  div,
  button {
    font-family: $bodyFontFamily;
    color: white;
  }

  .blur {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .box {
    background: $backgroundDark;
  }

  //DarkToggleMode CSS
  .toggle {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin: 0px;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d36959;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggler {
    background: #6ae092;
  }

  input:focus + toggler {
    box-shadow: 0 0 2px #2196f3;
  }

  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggler.round {
    border-radius: 34px;
  }

  .toggler.round:before {
    border-radius: 50%;
  }

  //DarkSideNavPill
  .sideBar {
    border-radius: $btnBorderRadius;

    .box {
      height: 48px;
      background: $secondaryDark;
      @include center;
      border-radius: $btnBorderRadius;
      overflow: hidden;
      transition: 0.5s;
      position: relative;
      cursor: pointer;
      &:hover {
        box-shadow: inset 400px 0 0 0 $darkShade;
        cursor: pointer;
        color: white;
        span {
          color: white;
          margin: 0px 5px;
        }
      }
    }
    img {
      width: 40px;
      margin: 0px 5px;
      background: white;
      border-radius: $boxRadius;
    }
    span {
      color: white;
      margin: 0px 5px;
    }
    a {
      text-decoration: none;
    }
  }

  //DarkNavBar CSS
  .brand-logo {
    max-width: 160px;
    height: auto;
    float: left;
  }
  .searchBox {
    input {
      border-radius: $btnBorderRadius;
      border: $borderDark;
      background-color: $inputShade;
      height: 48px;
    }
  }
  .burger {
    background: white;
    border: 0px;
  }
  .navCart {
    color: white;
  }
  .navProfile {
    color: white;
  }
  .dpMenu {
    background: white;
    .dpSign {
      color: $darkShade;
    }
    .dpLogin {
      color: $darkShade;
    }
  }

  //DarkProductCard CSS
  .productCard {
    background: $secondaryDark;
    border: none;
    img {
      height: auto;
      width: 100%;
    }
    a {
      text-decoration-color: white;
    }
  }

  //DarkFooter CSS
  .footer {
    background: $darkShade;
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      margin-right: 10px;
    }
    img {
      width: 15%;
      height: 15%;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    .email {
      display: flex;
      justify-content: end;
      align-items: end;
      color: white;
    }
    span {
      color: black;
    }
    i {
      color: black;
    }
  }
  .footerWrapper .footerButton {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .footerWrapper .footerButton .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:nth-child(1):hover .icon {
    background: #4267b2;
  }
  .footerWrapper .footerButton:nth-child(2):hover .icon {
    background: #1da1f2;
  }
  .footerWrapper .footerButton:nth-child(3):hover .icon {
    background: #e1306c;
  }
  .footerWrapper .footerButton:nth-child(4):hover .icon {
    background: #ff0000;
  }
  .footerWrapper .footerButton .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:hover .icon i {
    color: #fff;
  }
  .footerWrapper .footerButton:hover {
    width: 200px;
  }
  .footerWrapper .footerButton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }

  //DarkLandingView CSS
  .centerbox {
    border-radius: $btnBorderRadius;
    img {
      border-radius: $btnBorderRadius;
    }
  }
  .rightbar {
    img {
      border-radius: $btnBorderRadius;
    }
  }

  //DarkIndividualView CSS
  .mainBtnDesign {
    background: $darkShade;
    font-family: $headingFontFamily;
    color: white;
    border: $borderDark;
    @include button;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 500px 0 0 0 $mainBtnDark;
      cursor: pointer;
      color: white;
    }
  }

  .addBtnDesign {
    background: $darkShade;
    font-family: $headingFontFamily;
    color: white;
    border: $borderDark;
    @include button;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 #5dca82;
    &:hover {
      box-shadow: inset 500px 0 0 0 #5dca82;
      cursor: pointer;
      color: white;
    }
  }

  .cancelBtnDesign {
    background: white;
    font-family: $headingFontFamily;
    border: none;
    color: black;
    @include button;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 $secondaryDark;
      cursor: pointer;
      color: white;
    }
  }

  .anyQuestionBtnDesign {
    border: none;
    font-family: $headingFontFamily;
    background: white;
    color: $mainBtn;
    width: $btnWidth;
    border-radius: $btnBorderRadius;
    font-size: 16px;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 $darkShade;
      cursor: pointer;
      color: white;
    }
  }

  .spinner {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
    animation: text-color 1.5s ease-in-out infinite alternate;
  }

  .spinner-sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;
  }

  .spinner-sector-one {
    border-top-color: #fff;
    --duration: 1.5s;
    --timing: ease-in-out;
  }

  .spinner-sector-two {
    border-left-color: #d36959;
    --duration: 1.5s;
    --timing: ease-in;
  }

  .spinner-sector-three {
    border-right-color: #fff;
    --duration: 1.5s;
    --timing: ease-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes text-color {
    0% {
      color: rgba(0, 0, 0, 1);
    }

    50% {
      color: rgba(0, 0, 0, 0.5);
    }

    100% {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  .individualViewImg {
    height: 486px;
  }

  .individualViewProductCard {
    color: white;
    height: 486px;
    border: $borderDark;
    border-radius: $boxRadius;
    background: $backgroundDark;
    input {
      background: #d9d9d9;
      border: none;
    }
    #qty {
      border-radius: $boxRadius;
    }
    #size {
      border-radius: $boxRadius;
    }
  }

  .individualViewProdDesc {
    color: white;
    background: $secondaryDark;
    border: $borderDark;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    text-align: left;
  }

  .individualViewQuesion {
    color: white;
    background: $secondaryDark;
    border-radius: $boxRadius;
    font-size: $bodyLarge;
    border: $borderDark;
  }

  .individualViewProductRating {
    color: white;
    background: $secondaryDark;
    border: $borderDark;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    button {
      @include button;
      background: $darkShade;
      color: white;
      border: $borderDark;
    }
    .scrollBox {
      position: relative;
      height: 20em;
    }
  }

  .vertical-scrollable {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    position: absolute;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c8c8c8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainBtn;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $brandMain;
  }

  .reviewsRating {
    border-bottom: 3px solid white;
    .userPhoto {
      height: 100px;
      width: auto;
    }
    h5 {
      font-size: calc(0.71em + 0.5vw);
    }
    @media (min-width: 400px) {
      h5 {
        font-size: calc(0.9em + 0.5vw);
      }
    }
  }

  //DarkLogin
  .login {
    .back {
      background: $backgroundDark;
      border: $borderDark;
      border-radius: $boxRadius;
      height: 600px;
    }
    img {
      border-radius: $boxRadius;
      height: 600px;
    }
  }

  //DarkSignUP
  .signUp {
    .back {
      background: $secondaryDark;
      border: $borderDark;
      border-radius: $boxRadius;
      height: 456px;
    }
    img {
      height: 456px;
      border-radius: $boxRadius;
    }
  }

  //DarkOrderRow
  .orderRow {
    background: $backgroundDark;
  }
  .orderRowIndItem {
    background: rgb(51, 48, 48);
  }

  //DarkOrderLogs & Darkvieworder
  .orderLog {
    background: $backgroundDark;
    border-radius: $boxRadius;
  }
  .orderBar {
    background: $brandMain;
    color: white;
  }

  //DarkShoppingCarts
  .shoppingBar {
    background: $brandMain;
    color: white;
  }
  .shoppingBack {
    background: $backgroundDark;
  }
  .pageBack {
    h4,
    h5 {
      color: #fff;
    }
  }
  .cartEmpty {
    background: $secondaryDark;
    border-radius: $boxRadius;
    h3 {
      color: $mainBtn;
    }
  }

  //DarkIndividualBrand
  .individualBrand {
    .map {
      height: 444px;
    }
  }

  //DarkMerchantRating
  .merchantRating {
    height: 267px;
    background: $secondaryDark;
    border: $borderDark;
  }

  //DarkBrandProfile
  .brandProfile {
    height: 444px;
    background: $secondaryDark;
    border: $borderDark;
    img {
      width: 30%;
      height: auto;
    }
  }

  //DarkCartComponent
  .cartBack {
    .productBack {
      background: $secondaryDark;
    }
    input {
      width: 50px;
    }
  }

  //DarkCheckOut
  .checkOut {
    .checkOutBack {
      background: $secondaryDark;
      border: $borderDark;
      border-radius: $boxRadius;
      color: white;
    }
    input {
      background: #d9d9d9;
    }
  }
  //DarkMerchantProductRow
  .orderBack {
    border-radius: $boxRadius;
  }
  //DarkAddProduct
  .dashAll {
    background: $secondaryDark;
    padding: 0px 12px;
    border-radius: $boxRadius;
    .dashName {
      color: $mainBtn;
    }
    .pAndL {
      color: rgb(7, 152, 7);
    }
    .addProductBtnDesign {
      //btn
      background: white;
      font-family: $headingFontFamily;
      color: black;
      border: $borderLight;
      border-radius: $btnBorderRadius;
      font-size: 16px;
      overflow: hidden;
      transition: 0.5s;
      position: relative;
      cursor: pointer;
      &:hover {
        box-shadow: inset 400px 0 0 0 white;
        cursor: pointer;
        color: $mainBtn;
      }
    }
  }
  //DarkReview
  .review {
    background: $darkShade;
  }

  //DarkViewPayment
  .paymentForm {
    border: $borderDark;
    border-radius: $boxRadius;
    background: $secondaryDark;
  }
  .mthDrop,
  .yearDrop,
  .cvvInput {
    display: inline;
    width: 45%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  //DarkOrderDetails
  .orderDetails {
    background: $backgroundDark;
    border: $borderDark;
    border-radius: $boxRadius;
    b,
    div {
      color: white;
    }
  }

  //DarkBootstrapModal
  .BootModal {
    h5,
    label {
      color: black;
    }
    .close {
      color: black;
    }
  }
}

/*
CARD ANIMATION
*/
.creditCard {
  .card-item * {
    box-sizing: border-box;
  }
  .card-item :focus {
    outline: 0;
  }
  .wrapper {
    min-height: 100vh;
    display: flex;
    padding: 50px 15px;
  }
  @media screen and (max-width: 700px), (max-height: 500px) {
    .wrapper {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  .card-item {
    max-width: 430px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    .card-item {
      max-width: 310px;
      height: 220px;
      width: 90%;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item {
      height: 180px;
    }
  }
  .card-item.-active .card-item__side.-front {
    transform: perspective(1000px) rotateY(180deg) rotateX(0) rotateZ(0);
  }
  .card-item.-active .card-item__side.-back {
    transform: perspective(1000px) rotateY(0) rotateX(0) rotateZ(0);
  }
  .card-item__focus {
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.65);
  }
  .card-item__focus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #08142f;
    height: 100%;
    border-radius: 5px;
    filter: blur(25px);
    opacity: 0.5;
  }
  .card-item__focus.-active {
    opacity: 1;
  }
  .card-item__side {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
    transform: perspective(2000px) rotateY(0) rotateX(0) rotate(0);
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
  }
  .card-item__side.-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: perspective(2000px) rotateY(-180deg) rotateX(0) rotate(0);
    z-index: 2;
    padding: 0;
    height: 100%;
  }
  .card-item__side.-back .card-item__cover {
    transform: rotateY(-180deg);
  }
  .card-item__bg {
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .card-item__cover {
    height: 100%;
    position: absolute;
    height: 100%;
    background-color: #1c1d27;
    background-image: linear-gradient(147deg, #354fce 0, #0c296b 74%);
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
  }
  .card-item__cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 2, 29, 0.45);
  }
  .card-item__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;
  }
  @media screen and (max-width: 480px) {
    .card-item__top {
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__top {
      margin-bottom: 15px;
    }
  }
  .card-item__chip {
    width: 60px;
  }
  @media screen and (max-width: 480px) {
    .card-item__chip {
      width: 50px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__chip {
      width: 40px;
    }
  }
  .card-item__type {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    .card-item__type {
      height: 40px;
      max-width: 90px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__type {
      height: 30px;
    }
  }
  .card-item__typeImg {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 100%;
    -o-object-position: top right;
    object-position: top right;
  }
  .card-item__info {
    color: #fff;
    width: 100%;
    max-width: calc(100% - 85px);
    padding: 10px 15px;
    font-weight: 500;
    display: block;
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .card-item__info {
      padding: 10px;
    }
  }
  .card-item__holder {
    opacity: 0.7;
    font-size: 13px;
    margin-bottom: 6px;
  }
  @media screen and (max-width: 480px) {
    .card-item__holder {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  .card-item__wrapper {
    font-family: "Source Code Pro", monospace;
    padding: 25px 15px;
    position: relative;
    z-index: 4;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media screen and (max-width: 480px) {
    .card-item__wrapper {
      padding: 20px 10px;
    }
  }
  .card-item__name {
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
  }
  @media screen and (max-width: 480px) {
    .card-item__name {
      font-size: 16px;
    }
  }
  .card-item__nameItem {
    display: inline-block;
    min-width: 8px;
    position: relative;
  }
  .card-item__number {
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .card-item__number {
      font-size: 21px;
      margin-bottom: 15px;
      padding: 10px 10px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__number {
      font-size: 19px;
      margin-bottom: 10px;
      padding: 10px 10px;
    }
  }
  .card-item__numberItem {
    width: 16px;
    display: inline-block;
  }
  .card-item__numberItem.-active {
    width: 30px;
  }
  @media screen and (max-width: 480px) {
    .card-item__numberItem {
      width: 13px;
    }
    .card-item__numberItem.-active {
      width: 16px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__numberItem {
      width: 12px;
    }
    .card-item__numberItem.-active {
      width: 8px;
    }
  }
  .card-item__content {
    color: #fff;
    display: flex;
    align-items: flex-start;
  }
  .card-item__date {
    flex-wrap: wrap;
    font-size: 18px;
    margin-left: auto;
    padding: 10px;
    display: inline-flex;
    width: 80px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
  }
  .card-item__date label {
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .card-item__date {
      font-size: 16px;
    }
  }
  .card-item__dateItem {
    position: relative;
  }
  .card-item__dateItem span {
    width: 22px;
    display: inline-block;
  }
  .card-item__dateTitle {
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 6px;
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    .card-item__dateTitle {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
  .card-item__band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
  }
  @media screen and (max-width: 480px) {
    .card-item__band {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__band {
      height: 40px;
      margin-top: 10px;
    }
  }
  .card-item__cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;
  }
  .card-item__cvv .card-item__type {
    opacity: 0.7;
  }
  @media screen and (max-width: 360px) {
    .card-item__cvv {
      padding: 10px 15px;
    }
  }
  .card-item__cvvTitle {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
  }
  .card-item__cvvBand {
    height: 45px;
    background: #fff;
    margin-bottom: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1a3b5d;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 10px 20px -7px rgba(32, 56, 117, 0.35);
  }
  @media screen and (max-width: 480px) {
    .card-item__cvvBand {
      height: 40px;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 360px) {
    .card-item__cvvBand {
      margin-bottom: 15px;
    }
  }
  .card-list {
    margin-bottom: -130px;
  }
  @media screen and (max-width: 480px) {
    .card-list {
      margin-bottom: -120px;
    }
  }
  .slide-fade-up-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
  }
  .slide-fade-up-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
  }
  .slide-fade-up-enter {
    opacity: 0;
    transform: translateY(15px);
    pointer-events: none;
  }
  .slide-fade-up-leave-to {
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
  }
  .slide-fade-right-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
  }
  .slide-fade-right-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
  }
  .slide-fade-right-enter {
    opacity: 0;
    transform: translateX(10px) rotate(45deg);
    pointer-events: none;
  }
  .slide-fade-right-leave-to {
    opacity: 0;
    transform: translateX(-10px) rotate(45deg);
    pointer-events: none;
  }
}
// END OF CARD ANIMATION
