@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito Sans");
#light {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#light h1,
#light h2,
#light h3,
#light h4,
#light h5,
#light h6 {
  font-family: "Merriweather Sans", sans-serif;
}
#light p,
#light li,
#light div,
#light button {
  font-family: "Nunito Sans", sans-serif;
}
#light body.stop-transition #some-grid-container {
  transition: none !important;
}
#light .box {
  background-color: #ffffff;
}
#light .toggle {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin: 0px auto;
}
#light .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
#light .toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d36959;
  transition: 0.4s;
}
#light .toggler:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 4px;
  left: 4px;
  background: #fff;
  transition: 0.4s;
}
#light input:checked + .toggler {
  background: #6ae092;
}
#light input:focus + toggler {
  box-shadow: 0 0 2px #2196f3;
}
#light input:checked + .toggler:before {
  transform: translateX(26px);
}
#light .toggler.round {
  border-radius: 34px;
}
#light .toggler.round:before {
  border-radius: 50%;
}
#light .brand-logo {
  max-width: 160px;
  height: auto;
  float: left;
}
#light .searchBox input {
  border-radius: 16px;
  height: 48px;
}
#light .searchBox button {
  background: #d36959;
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  height: 36px;
  color: white;
}
#light .footer {
  background: #942c1f;
}
#light .footer input {
  border-radius: 16px;
  height: 48px;
  margin-right: 10px;
}
#light .footer img {
  width: 15%;
  height: 15%;
}
#light .footer h2 {
  color: white;
}
#light .footer p {
  color: white;
}
#light .footer .email {
  display: flex;
  justify-content: end;
  align-items: end;
  color: white;
}
#light .footer span {
  color: black;
}
#light .footerWrapper .footerButton {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  overflow: hidden;
}
#light .footerWrapper .footerButton .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
#light .footerWrapper .footerButton:nth-child(1):hover .icon {
  background: #4267b2;
}
#light .footerWrapper .footerButton:nth-child(2):hover .icon {
  background: #1da1f2;
}
#light .footerWrapper .footerButton:nth-child(3):hover .icon {
  background: #e1306c;
}
#light .footerWrapper .footerButton:nth-child(4):hover .icon {
  background: #ff0000;
}
#light .footerWrapper .footerButton .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
#light .footerWrapper .footerButton:hover .icon i {
  color: #fff;
}
#light .footerWrapper .footerButton:hover {
  width: 200px;
}
#light .footerWrapper .footerButton span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
#light .pill {
  color: white;
}
#light .productCard button {
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  background: #d36959;
  color: white;
}
#light .cardInner {
  background-color: hsla(0deg, 0%, 100%, 0.9);
  color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
}
#light .card:hover .cardInner {
  opacity: 1;
}
#light .brand-logo {
  width: 160px;
  height: auto;
  float: left;
}
#light .sideBar {
  border-radius: 16px;
}
#light .sideBar .box {
  height: 48px;
  background: #ebeceb;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
#light .sideBar img {
  width: 40px;
  margin: 0px 5px;
}
#light .sideBar span {
  margin: 0px 5px;
}
#light .centerbox {
  border-radius: 16px;
}
#light .rightbar img {
  border-radius: 16px;
}
#light .mainBtnDesign {
  background: #d36959;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  border: 1px solid black;
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  transition: 1.8s;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 black;
}
#light .mainBtnDesign:hover {
  box-shadow: inset 400px 0 0 0 black;
  cursor: pointer;
  color: #d36959;
}
#light .cancelBtnDesign {
  background: white;
  font-family: "Merriweather Sans", sans-serif;
  border: solid 1px black;
  color: black;
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  position: relative;
  transition: 1.8s;
  cursor: pointer;
  box-shadow: inset 0 black;
}
#light .cancelBtnDesign:hover {
  box-shadow: inset 500px 0 0 0 black;
  cursor: pointer;
  color: white;
}
#light .anyQuestionBtnDesign {
  border: none;
  font-family: "Merriweather Sans", sans-serif;
  background: white;
  color: #d36959;
  width: 180px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
  transition: 1.8s;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 black;
}
#light .anyQuestionBtnDesign:hover {
  box-shadow: inset 500px 0 0 0 black;
  cursor: pointer;
  color: white;
}
#light .individualViewImg {
  height: 486px;
}
#light .individualViewProductCard {
  height: 486px;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
}
#light .individualViewProductCard input {
  background: #d9d9d9;
  border: none;
}
#light .individualViewProdDesc {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  font-size: 16px;
  border-radius: 8px;
  text-align: left;
}
#light .individualViewQuesion {
  background: #d36959;
  border-radius: 8px;
  font-size: 16px;
}
#light .individualViewProductRating {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  font-size: 16px;
  border-radius: 8px;
}
#light .individualViewProductRating button {
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  background: #d36959;
  color: white;
}
#light .vertical-scrollable {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
  position: absolute;
}
#light ::-webkit-scrollbar {
  width: 20px;
}
#light ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c8c8c8;
  border-radius: 10px;
}
#light ::-webkit-scrollbar-thumb {
  background: #d36959;
  border-radius: 10px;
}
#light ::-webkit-scrollbar-thumb:hover {
  background: #942c1f;
}
#light .reviewsRating {
  border-bottom: 3px solid grey;
}

#dark {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#dark h1,
#dark h2,
#dark h3,
#dark h4,
#dark h5,
#dark h6 {
  font-family: "Merriweather Sans", sans-serif;
  color: white;
}
#dark p,
#dark li,
#dark div,
#dark button {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
#dark .box {
  background-color: #121212;
}
#dark .toggle {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin: 0px auto;
}
#dark .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
#dark .toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d36959;
  transition: 0.4s;
}
#dark .toggler:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 4px;
  left: 4px;
  background: #fff;
  transition: 0.4s;
}
#dark input:checked + .toggler {
  background: #6ae092;
}
#dark input:focus + toggler {
  box-shadow: 0 0 2px #2196f3;
}
#dark input:checked + .toggler:before {
  transform: translateX(26px);
}
#dark .toggler.round {
  border-radius: 34px;
}
#dark .toggler.round:before {
  border-radius: 50%;
}
#dark .brand-logo {
  max-width: 160px;
  height: auto;
  float: left;
}
#dark .searchBox input {
  border-radius: 16px;
  border: 1px solid white;
  height: 48px;
}
#dark .productCard {
  background: #3d3d3d;
  border: none;
}
#dark .productCard button {
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  background: #d36959;
  color: white;
}
#dark .cardInner {
  background-color: hsla(0deg, 0%, 100%, 0.9);
  color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
}
#dark .card:hover .cardInner {
  opacity: 1;
}
#dark .sideBar {
  background: #212121;
  border-radius: 16px;
  border: 1px solid white;
}
#dark .sideBar .box {
  height: 48px;
  background: #3d3d3d;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid white;
  color: white;
}
#dark .sideBar img {
  width: 40px;
  margin: 0px 5px;
}
#dark .sideBar span {
  margin: 0px 5px;
}
#dark .centerbox {
  border-radius: 16px;
}
#dark .centerbox img {
  border-radius: 16px;
}
#dark .rightbar img {
  border-radius: 16px;
}
#dark .mainBtnDesign {
  background: #d36959;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  transition: 1.8s;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 black;
}
#dark .mainBtnDesign:hover {
  box-shadow: inset 400px 0 0 0 white;
  cursor: pointer;
  color: #d36959;
}
#dark .cancelBtnDesign {
  background: white;
  font-family: "Merriweather Sans", sans-serif;
  border: 1px solid white;
  color: black;
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  transition: 1.8s;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 white;
}
#dark .cancelBtnDesign:hover {
  box-shadow: inset 400px 0 0 0 #942c1f;
  cursor: pointer;
  color: white;
}
#dark .anyQuestionBtnDesign {
  border: none;
  font-family: "Merriweather Sans", sans-serif;
  background: white;
  color: #d36959;
  width: 180px;
  border-radius: 16px;
  font-size: 16px;
  height: 60px;
  overflow: hidden;
  transition: 1.8s;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 white;
}
#dark .anyQuestionBtnDesign:hover {
  box-shadow: inset 400px 0 0 0 #942c1f;
  cursor: pointer;
  color: white;
}
#dark .individualViewImg {
  height: 486px;
  border: 1px solid white;
  background: #3d3d3d;
}
#dark .individualViewProductCard {
  color: white;
  height: 486px;
  border: 1px solid white;
  border-radius: 8px;
  background: #3d3d3d;
}
#dark .individualViewProductCard input {
  background: #d9d9d9;
  border: none;
}
#dark .individualViewProdDesc {
  color: white;
  background: #3d3d3d;
  border: 1px solid white;
  font-size: 16px;
  border-radius: 8px;
  text-align: left;
}
#dark .individualViewQuesion {
  color: white;
  background: #3d3d3d;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid white;
}
#dark .individualViewProductRating {
  color: white;
  background: #3d3d3d;
  border: 1px solid white;
  font-size: 16px;
  border-radius: 8px;
}
#dark .individualViewProductRating button {
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  background: #d36959;
  color: white;
  border: 1px solid white;
}
#dark .vertical-scrollable {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
  position: absolute;
}
#dark ::-webkit-scrollbar {
  width: 20px;
}
#dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c8c8c8;
  border-radius: 10px;
}
#dark ::-webkit-scrollbar-thumb {
  background: #d36959;
  border-radius: 10px;
}
#dark ::-webkit-scrollbar-thumb:hover {
  background: #942c1f;
}
#dark .reviewsRating {
  border-bottom: 3px solid white;
}/*# sourceMappingURL=global.css.map */