@import "./variable";
@import "./functions";

#light {
  //general
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headingFontFamily;
  }

  p,
  li,
  div,
  button {
    font-family: $bodyFontFamily;
  }

  .blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  //LightToggleMode
  .toggle {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin: 0px auto;
    background: none;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d36959;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggler {
    background: #6ae092;
  }

  input:focus + toggler {
    box-shadow: 0 0 2px #2196f3;
  }

  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggler.round {
    border-radius: 34px;
  }

  .toggler.round:before {
    border-radius: 50%;
  }

  //LightNavBar CSS
  .brand-logo {
    max-width: 160px;
    height: auto;
    float: left;
  }
  .searchBox {
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      z-index: 9999;
    }
    button {
      background: $mainBtn;
      @include button;
      height: 36px;
      color: white;
    }
  }

  //LightFooter CSS
  .footer {
    background: $brandMain;
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      margin-right: 10px;
    }
    img {
      width: 15%;
      height: 15%;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    span {
      color: black;
    }
    i {
      color: black;
    }
  }

  .email {
    color: white;
    font-size: 16px;
  }

  .footerWrapper .footerButton {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .footerWrapper .footerButton .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:nth-child(1):hover .icon {
    background: #4267b2;
  }
  .footerWrapper .footerButton:nth-child(2):hover .icon {
    background: #1da1f2;
  }
  .footerWrapper .footerButton:nth-child(3):hover .icon {
    background: #e1306c;
  }
  .footerWrapper .footerButton:nth-child(4):hover .icon {
    background: #ff0000;
  }
  .footerWrapper .footerButton .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:hover .icon i {
    color: #fff;
  }
  .footerWrapper .footerButton:hover {
    width: 200px;
  }
  .footerWrapper .footerButton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }
  //sideNavPill CSS
  .sideBar {
    border-radius: $btnBorderRadius;
    .box {
      height: 48px;
      background: $mainBtn;
      @include center;
      border-radius: $btnBorderRadius;
      overflow: hidden;
      transition: 1.8s;
      position: relative;
      cursor: pointer;
      box-shadow: inset 0000 black;
      &:hover {
        box-shadow: inset 400px 0 0 0 black;
        cursor: pointer;
        color: $mainBtn;
      }
    }
    img {
      width: 40px;
      height: auto;
      margin: 0px 5px;
      background: white;
      border-radius: $boxRadius;
    }
    span {
      color: white;
      margin: 0px 5px;
    }
    a {
      text-decoration: none;
    }
  }

  //LightProductCard CSS
  .productCard {
    button {
      @include button;
      background: $mainBtn;
      color: white;
    }
    img {
      height: auto;
      width: 100%;
    }
  }

  //LightLandingView CSS
  .brand-logo {
    width: 160px;
    height: auto;
    float: left;
  }

  .centerbox {
    border-radius: $btnBorderRadius;
  }
  .rightbar {
    img {
      border-radius: $btnBorderRadius;
    }
  }

  //LightIndividualView CSS
  .mainBtnDesign {
    //btn
    background: $mainBtn;
    font-family: $headingFontFamily;
    color: white;
    border: $borderLight;
    @include button;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 400px 0 0 0 black;
      cursor: pointer;
      color: $mainBtn;
    }
  }

  .cancelBtnDesign {
    background: white;
    font-family: $headingFontFamily;
    border: solid 1px black;
    color: black;
    @include button;
    overflow: hidden;
    position: relative;
    transition: 1.8s;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .anyQuestionBtnDesign {
    border: none;
    font-family: $headingFontFamily;
    background: white;
    color: $mainBtn;
    width: $btnWidth;
    height: $btnHeight;
    font-size: 16px;
    border-radius: $boxRadius;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .individualViewImg {
    height: 486px;
  }

  .spinner {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
    animation: text-color 1.5s ease-in-out infinite alternate;
  }

  .spinner-sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;
  }

  .spinner-sector-one {
    border-top-color: #942c1f;
    --duration: 1.5s;
    --timing: ease-in-out;
  }

  .spinner-sector-two {
    border-left-color: #d36959;
    --duration: 1.5s;
    --timing: ease-in;
  }

  .spinner-sector-three {
    border-right-color: #942c1f;
    --duration: 1.5s;
    --timing: ease-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes text-color {
    0% {
      color: rgba(0, 0, 0, 1);
    }

    50% {
      color: rgba(0, 0, 0, 0.5);
    }

    100% {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  .individualViewProductCard {
    height: 486px;
    border: 1px solid #c8c8c8;
    background: white;
    border-radius: $boxRadius;
    input {
      background: #d9d9d9;
      border: none;
    }
    #qty {
      border-radius: $boxRadius;
    }
    #size {
      border-radius: $boxRadius;
    }
  }

  .individualViewProdDesc {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    text-align: left;
  }

  .individualViewQuesion {
    background: $mainBtn;
    border-radius: $boxRadius;
    font-size: $bodyLarge;
  }

  .individualViewProductRating {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    button {
      @include button;
      background: $mainBtn;
      color: white;
    }

    .scrollBox {
      position: relative;
      height: 10em;
    }
  }
  .vertical-scrollable {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c8c8c8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainBtn;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $brandMain;
  }

  .reviewsRating {
    border-bottom: 3px solid grey;
    img {
      width: auto;
      height: 100%;
    }
  }

  //LightLogin
  .login {
    .back {
      border-radius: $boxRadius;
      height: 456px;
      background: white;
    }
    img {
      border-radius: $boxRadius;
      height: 456px;
    }
  }

  //LightSignUP
  .signUp {
    .back {
      border-radius: $boxRadius;
      height: 456px;
      background: white;
    }
    img {
      border-radius: $boxRadius;
      height: 456px;
    }
  }

  //LightOrderLogs
  .orderBar {
    background: $brandMain;
    color: white;
  }

  //LightShoppingCarts
  .shoppingBar {
    background: $brandMain;
    color: white;
    button {
      @include center;
    }
  }

  //LightCheckOut
  .checkOut {
    .checkOutBack {
      background: white;
      border: $borderLight;
      border-radius: $boxRadius;
      color: black;
    }
    input {
      background: $mainBtn;
    }
  }
  //LightCheckOut
  .viewOrder {
    .viewOrderBar {
      background: $brandMain;
      color: white;
    }
    .orderDetails {
      border: $borderLight;
      border-radius: $boxRadius;
    }
  }
}

#dark {
  //general
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headingFontFamily;
    color: white;
  }
  p,
  li,
  div,
  button {
    font-family: $bodyFontFamily;
    color: white;
  }

  .blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .box {
    background: black;
  }

  //DarkToggleMode CSS
  .toggle {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin: 0px auto;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d36959;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggler {
    background: #6ae092;
  }

  input:focus + toggler {
    box-shadow: 0 0 2px #2196f3;
  }

  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggler.round {
    border-radius: 34px;
  }

  .toggler.round:before {
    border-radius: 50%;
  }

  //DarkSideNavPill
  .sideBar {
    border-radius: $btnBorderRadius;
    .box {
      height: 48px;
      background: white;
      @include center;
      border-radius: $btnBorderRadius;
      overflow: hidden;
      transition: 1.8s;
      position: relative;
      cursor: pointer;
      box-shadow: inset 0000 #5dca82;
      &:hover {
        box-shadow: inset 400px 0 0 0 #5dca82;
        cursor: pointer;
        color: white;
        span {
          color: white;
          margin: 0px 5px;
        }
      }
    }
    img {
      width: 40px;
      margin: 0px 5px;
      background: white;
      border-radius: $boxRadius;
    }
    span {
      color: black;
      margin: 0px 5px;
    }
    a {
      text-decoration: none;
    }
  }

  //DarkNavBar CSS
  .brand-logo {
    max-width: 160px;
    height: auto;
    float: left;
  }
  .searchBox {
    input {
      border-radius: $btnBorderRadius;
      border: $borderDark;
      height: 48px;
    }
  }

  //DarkProductCard CSS
  .productCard {
    background: $backgroundDark;
    border: none;
    img {
      height: auto;
      width: 100%;
    }
  }

  //DarkFooter CSS
  .footer {
    background: $brandMain;
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      margin-right: 10px;
    }
    img {
      width: 15%;
      height: 15%;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    .email {
      display: flex;
      justify-content: end;
      align-items: end;
      color: white;
    }
    span {
      color: black;
    }
    i {
      color: black;
    }
  }
  .footerWrapper .footerButton {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .footerWrapper .footerButton .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:nth-child(1):hover .icon {
    background: #4267b2;
  }
  .footerWrapper .footerButton:nth-child(2):hover .icon {
    background: #1da1f2;
  }
  .footerWrapper .footerButton:nth-child(3):hover .icon {
    background: #e1306c;
  }
  .footerWrapper .footerButton:nth-child(4):hover .icon {
    background: #ff0000;
  }
  .footerWrapper .footerButton .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:hover .icon i {
    color: #fff;
  }
  .footerWrapper .footerButton:hover {
    width: 200px;
  }
  .footerWrapper .footerButton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }

  //DarkLandingView CSS
  .centerbox {
    border-radius: $btnBorderRadius;
    img {
      border-radius: $btnBorderRadius;
    }
  }
  .rightbar {
    img {
      border-radius: $btnBorderRadius;
    }
  }

  //DarkIndividualView CSS
  .mainBtnDesign {
    background: $mainBtn;
    font-family: $headingFontFamily;
    color: black;
    border: $borderDark;
    @include button;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .cancelBtnDesign {
    background: white;
    font-family: $headingFontFamily;
    border: $borderDark;
    color: black;
    @include button;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 $brandMain;
      cursor: pointer;
      color: white;
    }
  }

  .anyQuestionBtnDesign {
    border: none;
    font-family: $headingFontFamily;
    background: white;
    color: $mainBtn;
    width: $btnWidth;
    border-radius: $btnBorderRadius;
    font-size: 16px;
    height: 60px;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 $brandMain;
      cursor: pointer;
      color: white;
    }
  }

  .spinner {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
    animation: text-color 1.5s ease-in-out infinite alternate;
  }

  .spinner-sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;
  }

  .spinner-sector-one {
    border-top-color: #fff;
    --duration: 1.5s;
    --timing: ease-in-out;
  }

  .spinner-sector-two {
    border-left-color: #d36959;
    --duration: 1.5s;
    --timing: ease-in;
  }

  .spinner-sector-three {
    border-right-color: #fff;
    --duration: 1.5s;
    --timing: ease-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes text-color {
    0% {
      color: rgba(0, 0, 0, 1);
    }

    50% {
      color: rgba(0, 0, 0, 0.5);
    }

    100% {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  .individualViewImg {
    height: 486px;
  }

  .individualViewProductCard {
    color: white;
    height: 486px;
    border: $borderDark;
    border-radius: $boxRadius;
    background: $backgroundDark;
    input {
      background: #d9d9d9;
      border: none;
    }
    #qty {
      border-radius: $boxRadius;
    }
    #size {
      border-radius: $boxRadius;
    }
  }

  .individualViewProdDesc {
    color: white;
    background: $backgroundDark;
    border: $borderDark;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    text-align: left;
  }

  .individualViewQuesion {
    color: white;
    background: $backgroundDark;
    border-radius: $boxRadius;
    font-size: $bodyLarge;
    border: $borderDark;
  }

  .individualViewProductRating {
    color: white;
    background: $backgroundDark;
    border: $borderDark;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    button {
      @include button;
      background: $mainBtn;
      color: white;
      border: $borderDark;
    }
    .scrollBox {
      position: relative;
      height: 10em;
    }
  }

  .vertical-scrollable {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    position: absolute;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c8c8c8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainBtn;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $brandMain;
  }

  .reviewsRating {
    border-bottom: 3px solid white;
  }

  //DarkLogin
  .login {
    .back {
      background: $backgroundDark;
      border: $borderDark;
      border-radius: $boxRadius;
    }
    img {
      border-radius: $boxRadius;
      height: 456px;
    }
  }

  //DarkSignUP
  .signUp {
    .back {
      background: $backgroundDark;
      border: $borderDark;
      border-radius: $boxRadius;
      height: 456px;
    }
    img {
      height: 456px;
      border-radius: $boxRadius;
    }
  }

  //DarkOrderLogs
  .orderLog {
    background: $backgroundDark;
  }
  .orderBar {
    background: $brandMain;
    color: white;
  }

  //DarkShoppingCarts
  .shoppingBar {
    background: $brandMain;
    color: white;
  }
  .shoppingBack {
    background: $backgroundDark;
  }

  //DarkCheckOut
  .checkOut {
    .checkOutBack {
      background: $backgroundDark;
      border: $borderLight;
      border-radius: $boxRadius;
      color: white;
    }
    input {
      background: #d9d9d9;
    }
  }
}
