@import "./variable";
@import "./functions";

#light {
  //general
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headingFontFamily;
  }

  p,
  li,
  div,
  button {
    font-family: $bodyFontFamily;
  }

  .box {
    background-color: #ffffff;
  }

  //LightToggleMode
  .toggle {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin: 0px auto;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d36959;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggler {
    background: #6ae092;
  }

  input:focus + toggler {
    box-shadow: 0 0 2px #2196f3;
  }

  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggler.round {
    border-radius: 34px;
  }

  .toggler.round:before {
    border-radius: 50%;
  }

  //LightNavBar CSS
  .brand-logo {
    max-width: 160px;
    height: auto;
    float: left;
  }
  .searchBox {
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
    }
    button {
      background: $mainBtn;
      @include button;
      height: 36px;
      color: white;
    }
  }

  //LightFooter CSS
  .footer {
    background: $brandMain;
    input {
      border-radius: $btnBorderRadius;
      height: 48px;
      margin-right: 10px;
    }
    img {
      width: 15%;
      height: 15%;
    }
    h5 {
      color: white;
    }
    p {
      color: white;
    }
    .email {
      display: flex;
      justify-content: end;
      align-items: end;
      color: white;
    }
    span {
      color: black;
    }
  }
  .footerWrapper .footerButton {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .footerWrapper .footerButton .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:nth-child(1):hover .icon {
    background: #4267b2;
  }
  .footerWrapper .footerButton:nth-child(2):hover .icon {
    background: #1da1f2;
  }
  .footerWrapper .footerButton:nth-child(3):hover .icon {
    background: #e1306c;
  }
  .footerWrapper .footerButton:nth-child(4):hover .icon {
    background: #ff0000;
  }
  .footerWrapper .footerButton .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .footerWrapper .footerButton:hover .icon i {
    color: #fff;
  }
  .footerWrapper .footerButton:hover {
    width: 200px;
  }
  .footerWrapper .footerButton span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }
  //sideNavPill CSS
  .pill {
    color: white;
  }

  //LightProductCard CSS
  .productCard {
    button {
      @include button;
      background: $mainBtn;
      color: white;
    }
  }
  .cardInner {
    background-color: hsl(0, 0%, 100%, 90%);
    color: #fff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
  }

  .card:hover .cardInner {
    opacity: 1;
  }

  //LightLandingView CSS
  .brand-logo {
    width: 160px;
    height: auto;
    float: left;
  }
  .sideBar {
    border-radius: $btnBorderRadius;
    .box {
      height: 48px;
      background: #ebeceb;
      margin: 10px 0px;
      @include center;
      border-radius: $btnBorderRadius;
    }
    img {
      width: 40px;
      margin: 0px 5px;
    }
    span {
      margin: 0px 5px;
    }
  }
  .centerbox {
    border-radius: $btnBorderRadius;
  }
  .rightbar {
    img {
      border-radius: $btnBorderRadius;
    }
  }

  //LightIndividualView CSS
  .mainBtnDesign {
    //btn
    background: $mainBtn;
    font-family: $headingFontFamily;
    color: white;
    border: $borderLight;
    @include button;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 400px 0 0 0 black;
      cursor: pointer;
      color: $mainBtn;
    }
  }

  .cancelBtnDesign {
    background: white;
    font-family: $headingFontFamily;
    border: solid 1px black;
    color: black;
    @include button;
    overflow: hidden;
    position: relative;
    transition: 1.8s;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .anyQuestionBtnDesign {
    border: none;
    font-family: $headingFontFamily;
    background: white;
    color: $mainBtn;
    width: $btnWidth;
    height: $btnHeight;
    font-size: 16px;
    border-radius: $boxRadius;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 500px 0 0 0 black;
      cursor: pointer;
      color: white;
    }
  }

  .individualViewImg {
    height: 486px;
  }

  .individualViewProductCard {
    height: 486px;
    border: 1px solid #c8c8c8;
    border-radius: $boxRadius;
    input {
      background: #d9d9d9;
      border: none;
    }
  }

  .individualViewProdDesc {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    text-align: left;
  }

  .individualViewQuesion {
    background: $mainBtn;
    border-radius: $boxRadius;
    font-size: $bodyLarge;
  }

  .individualViewProductRating {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    button {
      @include button;
      background: $mainBtn;
      color: white;
    }
  }
  .vertical-scrollable {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    position: absolute;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c8c8c8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainBtn;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $brandMain;
  }

  .reviewsRating {
    border-bottom: 3px solid grey;
  }
}

#dark {
  //general
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headingFontFamily;
    color: white;
  }

  p,
  li,
  div,
  button {
    font-family: $bodyFontFamily;
    color: white;
  }
  .box {
    background-color: #121212;
  }

  //DarkToggleMode CSS
  .toggle {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin: 0px auto;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d36959;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .toggler {
    background: #6ae092;
  }

  input:focus + toggler {
    box-shadow: 0 0 2px #2196f3;
  }

  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggler.round {
    border-radius: 34px;
  }

  .toggler.round:before {
    border-radius: 50%;
  }

  //DarkNavBar CSS
  .brand-logo {
    max-width: 160px;
    height: auto;
    float: left;
  }
  .searchBox {
    input {
      border-radius: $btnBorderRadius;
      border: $borderDark;
      height: 48px;
    }
  }

  //DarkProductCard CSS
  .productCard {
    background: $backgroundDark;
    border: none;
    button {
      @include button;
      background: $mainBtn;
      color: white;
    }
  }
  .cardInner {
    background-color: hsl(0, 0%, 100%, 90%);
    color: #fff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
  }

  .card:hover .cardInner {
    opacity: 1;
  }

  //DarkLandingView CSS
  .sideBar {
    background: #212121;
    border-radius: $btnBorderRadius;
    border: $borderDark;
    .box {
      height: 48px;
      background: $backgroundDark;
      margin: 10px 0px;
      @include center;
      border-radius: $btnBorderRadius;
      border: $borderDark;
      color: white;
    }
    img {
      width: 40px;
      margin: 0px 5px;
    }
    span {
      margin: 0px 5px;
    }
  }
  .centerbox {
    border-radius: $btnBorderRadius;
    img {
      border-radius: $btnBorderRadius;
    }
  }
  .rightbar {
    img {
      border-radius: $btnBorderRadius;
    }
  }

  //DarkIndividualView CSS
  .mainBtnDesign {
    background: $mainBtn;
    font-family: $headingFontFamily;
    color: white;
    border: $borderDark;
    @include button;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 black;
    &:hover {
      box-shadow: inset 400px 0 0 0 white;
      cursor: pointer;
      color: $mainBtn;
    }
  }

  .cancelBtnDesign {
    background: white;
    font-family: $headingFontFamily;
    border: $borderDark;
    color: black;
    @include button;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 $brandMain;
      cursor: pointer;
      color: white;
    }
  }

  .anyQuestionBtnDesign {
    border: none;
    font-family: $headingFontFamily;
    background: white;
    color: $mainBtn;
    width: $btnWidth;
    border-radius: $btnBorderRadius;
    font-size: 16px;
    height: 60px;
    overflow: hidden;
    transition: 1.8s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0000 white;
    &:hover {
      box-shadow: inset 400px 0 0 0 $brandMain;
      cursor: pointer;
      color: white;
    }
  }

  .individualViewImg {
    height: 486px;
    border: $borderDark;
    background: $backgroundDark;
  }

  .individualViewProductCard {
    color: white;
    height: 486px;
    border: $borderDark;
    border-radius: $boxRadius;
    background: $backgroundDark;
    input {
      background: #d9d9d9;
      border: none;
    }
  }

  .individualViewProdDesc {
    color: white;
    background: $backgroundDark;
    border: $borderDark;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    text-align: left;
  }

  .individualViewQuesion {
    color: white;
    background: $backgroundDark;
    border-radius: $boxRadius;
    font-size: $bodyLarge;
    border: $borderDark;
  }

  .individualViewProductRating {
    color: white;
    background: $backgroundDark;
    border: $borderDark;
    font-size: $bodyLarge;
    border-radius: $boxRadius;
    button {
      @include button;
      background: $mainBtn;
      color: white;
      border: $borderDark;
    }
  }

  .vertical-scrollable {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    position: absolute;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c8c8c8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainBtn;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $brandMain;
  }

  .reviewsRating {
    border-bottom: 3px solid white;
  }
}
